<html>
<title>
    MENTAL MATHS PRACTICE
</title>
<body>
<form action = "/login" method = "post">
    <center>
    <h1 style="font-size : 3vw; height:9vw; width:30vw">Mental Maths Test</h1>
    <h1 style="height:1vw; width:20vw"></h1>
    <h1 style="font-size : 3vw; height:9vw; width:20vw">Enter Name:</h1>
    <input type = "text" name = "nm"  autocomplete="off" autofocus style="font-size : 3vw; height:9vw; width:20vw; text-align:center;"/>
    <h1 style="height:1vw; width:100vw"></h1>
    <input type = "submit" value = "Login" style="font-size : 3vw; height:9vw; width:20vw"/>
    <h1 style="height:1vw; width:20vw"></h1>
    </center>
</form>
</body>
</html>